<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-list-alt"></i></span>
            <h5>修改密码</h5>
        </div>
        <div class="widget-content">

            <div id="successAlert" class="alert alert-success" style="display:none;"></div>
            <div id="warningAlert" class="alert alert-warning" style="display:none;"></div>

            <form name='pwdForm' class="form-horizontal" role="form">
                <div class="form-group">

                    <div class="col-md-8 col-lg-4 tag-horizontal">
                        <div class="col-md-2 col-lg-2">
                            <label class="text-right inline pull-label_Xjl s-label-len" for="oldPassword">旧密码</label>
                        </div>

                        <div class="col-md-8 col-lg-10">
                            <input name='oldPassword' type="password" id="oldPassword" class="m-wrap form-control" placeholder="" ng-model='oldPassword' ng-maxlength='20' maxlength="20" required />
                            <div class="xjl-warningMessage xjl-mtop5" ng-if="oldPassword!=null && oldPassword!='' && !checkLength(oldPassword,6,20)">旧密码6～20位</div>
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-8 col-lg-4 tag-horizontal">
                        <div class="col-md-2 col-lg-2">
                            <label class="text-right inline pull-label_Xjl s-label-len" for="newPassword">新密码</label>
                        </div>

                        <div class="col-md-8 col-lg-10">
                            <input name='newPassword' type="password" id="newPassword" class="m-wrap form-control" placeholder="" ng-model='newPassword' ng-maxlength='20' maxlength="20" required />
                            <div class="xjl-warningMessage xjl-mtop5" ng-if="newPassword!=null && newPassword!='' && !checkLength(newPassword,6,20)">新密码6～20位</div>
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-8 col-lg-4 tag-horizontal">
                        <div class="col-md-2 col-lg-2">
                            <label class="text-right inline pull-label_Xjl s-label-len" for="repeatPassword">重复密码</label>
                        </div>

                        <div class="col-md-8 col-lg-10">
                            <input name='repeatPassword' type="password" id="repeatPassword" class="m-wrap form-control" placeholder="" ng-model='repeatPassword' ng-maxlength='20' maxlength="20" required />
                            <div class="xjl-warningMessage xjl-mtop5" ng-if="repeatPassword !=null && repeatPassword !='' &&newPassword != repeatPassword">重复密码必须与新密码相同</div>
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-md-8 col-lg-4">
                        <div class="col-md-4 col-lg-2">
                            <a ng-click='onSubmit()' class="btn grey" ng-disabled="oldPassword == null || newPassword == null || repeatPassword == null || newPassword != repeatPassword
                               || !checkLength(oldPassword,6,20) || !checkLength(newPassword,6,20)
                               "><i class="icon-search"></i>保存</a>
                        </div>
                        <div class="col-md-4 col-lg-2 btnleftmargin">
                            <a ng-click='onReset()' class="btn grey"><i class="icon-refresh"></i>重置</a>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
