<?xml version="1.0" encoding="utf-8" ?>
<rewriteRules>

  <!-- 注册动作解析器 -->
  <register parser="VMoom.Framework.HttpModules.UrlRewriter.MyRewriteActionParser, VMoom.Framework" />

  <!-- 注册条件解析器 -->
  <register parser="VMoom.Framework.HttpModules.UrlRewriter.MyConditionParser, VMoom.Framework" />
  <register parser="VMoom.Framework.HttpModules.UrlRewriter.TheftproofParser, VMoom.Framework" />

  <!-- 注册自定义转换器 -->
  <register transform="VMoom.Framework.HttpModules.UrlRewriter.MyRewriteTransform, VMoom.Framework" />
  <register transform="VMoom.Framework.HttpModules.UrlRewriter.XXTEAEncodeTransform, VMoom.Framework" />
  <register transform="VMoom.Framework.HttpModules.UrlRewriter.XXTEADecodeTransform, VMoom.Framework" />

  <!-- 注册日志监视器 -->
  <register logger="Intelligencia.UrlRewriter.Logging.DebugLogger, Intelligencia.UrlRewriter" />


  <rewrite url="^~/demo-(\d+)\.shtml" to="~/Pager.aspx?page=$1" />

  
  <!--
            【是配置web.config】
            参考网址：http://www.cnblogs.com/yike/archive/2009/09/09/1563427.html
            
            【iis不执行rewrite的配置】
            先把IIS应用程序池的托管管理道模式为集成(为了可以做第3,4步)
            首先在IIS中的站点里，找到处理程序映射。双击进去
            1、添加脚本映射(路径：*.html 可执行文件%windir%Microsoft.NETFrameworkv2.0.50727aspnet_isapi.dll 名称：任意,比如Html )
            2、添加通配符脚本映射(路径：* 可执行文件:C:\Windows\Microsoft.NET\Frameworkv2.0.\50727\aspnet_isapi.dll 名称：任意,比如All)
            3、托管处理程序映射(路径：*.html 可执行文件：System.Web.UI.PageHandlerFactory 名称 任意 比如Html-Integrate)
            4、IIS中找到模块(双击进去)==>添加托管模块==>（名称：任意 如All 类型：URLRewriter.ModuleRewrite
            把 仅针对向asp.net 应用程序或托管处理程序发出请求调用 勾上
            5、将应用程序池的托管管理道模式为经典
            参考网址：http://bbs.csdn.net/topics/390016220
  -->





</rewriteRules>
