/* for /web/PicBox.htm*/
.main_table {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 300px
}
BODY {
	FONT-SIZE: 9pt; COLOR: #3f3f3f
}
.img_btn_chg_prd {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 50px; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #c0c0c0 1px solid
}
.img_btn_chg_prd_active {
	BORDER-RIGHT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; WIDTH: 50px; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #ff0000 1px solid
}
.leftRef {
	WIDTH: 20%
}
#img_show_prd {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; WIDTH: 150px; CURSOR: pointer; BORDER-BOTTOM: #efefef 1px solid
}
#ifm_show_prd {
	WIDTH: 680px; HEIGHT: 365px
}
.vpTable {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 680px; BORDER-BOTTOM: #c0c0c0 1px solid; HEIGHT: 370px
}
.spnClose {
	FONT-SIZE: 9pt; CURSOR: pointer
}
.vpCloseTable {
	WIDTH: 680px
}
#spn_tobig {
	CURSOR: pointer
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 14px; COLOR: #26447e
}
P {
	LINE-HEIGHT: 160%
}
A:link {
	COLOR: #0b3b61; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0b3b61; TEXT-DECORATION: none
}
A:active {
	COLOR: #0b3b61; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
#dvTPUrls UL {
	MARGIN-TOP: 5px; FLOAT: right; WIDTH: 500px! important; LIST-STYLE-TYPE: none
}
#dvTPUrls LI {
	FLOAT: left; WIDTH: 64px; MARGIN-RIGHT: 5px; WHITE-SPACE: nowrap; HEIGHT: 64px
}