<!--导出文件保存JS插件-->
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript" charset="utf-8"></script>
<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-list-alt"></i></span>
            <h5>车辆编号生成列表</h5>
        </div>
        <div id="successAlert" class="alert alert-success" style="display:none;"></div>
        <div id="warningAlert" class="alert alert-warning" style="display:none;"></div>
        <div class="widget-content">
            <form id="uploadForm" name='queryElectronicFenceForm' class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-4 tag-horizontal form-inline">
                        <div class="col-sm-3">
                            <label class="text-right inline pull-label s-label-len" for="seq">区间最小数</label>
                        </div>
                        <div class="col-sm-6">
                            <input name='txtMinValue' type="text" id="txtMinValue" class="m-wrap form-control" disabled="disabled" ng-model="BicycleItem.txtMinValue" />
                        </div>
                    </div>

                    <div class="col-lg-3 tag-horizontal">
                        <div class="col-lg-4 form-inline">
                            <label class="text-right inline pull-label s-label-len" for="seq">区间最大数</label>
                        </div>
                        <div class="col-lg-8">
                            <input name='txtMaxValue' type="text" id="txtMaxValue" class="m-wrap form-control" value="" disabled="disabled" ng-model="BicycleItem.txtMaxValue" />
                        </div>
                    </div>
                    <div class="col-lg-3 tag-horizontal">
                        <div class="col-lg-4 form-inline">
                            <label class="text-right inline pull-label s-label-len" for="seq">生成的个数</label>
                        </div>
                        <div class="col-lg-8">
                            <input name='txtCount' type="text" id="txtCount" class="m-wrap form-control" placeholder="请输入生成的个数" ng-model='txtCount' />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4 tag-horizontal">
                        <div class="col-sm-3">
                            <label class="text-right inline pull-label s-label-len" for="CustomerName">客户选择</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="m-wrap form-control" id="CustomerName" required ng-model="CustomerName" ng-options="o.CustomerID as o.CustomerName for o in  customerList">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3 tag-horizontal cols-btn col-lg-offset-1">
                        <div class="col-sm-12">
                            <a ng-click='ProduceBicycleNumber()' class="btn grey"><i class="icon-circle-arrow-right"></i>批量生成</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4 tag-horizontal">
                        <div class="col-sm-3">
                            <label class="inline pull-label s-label-len text-right" for="userSTime">生成时间</label>
                        </div>

                        <div class="col-sm-9 form-inline">
                            <div class="userSTime input-append date form_datetime">
                                <input type="text" class="form-inline row-control" id="userSTime" data-format="yyyy/MM/dd" ng-model="queryUserData.userSTime" name="userSTime" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                            <span class="row-mid">~</span>
                            <div class="userETime input-append date form_datetime">
                                <input type="text" class="form-inline row-control" id="userETime" data-format="yyyy/MM/dd" ng-model="queryUserData.userETime" name="userETime" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3 tag-horizontal col-lg-offset-2">
                        <div class="col-sm-3">
                            <label class="inline pull-label s-label-len text-right" for="qcusName">客户名称</label>
                        </div>
                        <div class="col-lg-8 col-lg-offset-1">
                            <input name='qcusName' type="text" id="qcusName" class="m-wrap form-control" placeholder="请输入客户名称" ng-model='qcusName' />
                        </div>
                    </div>

                    <div class="col-lg-3 tag-horizontal cols-btn">
                        <a ng-click='onQuery()' class="btn grey btn-margin-left"><i class="icon-search"></i>查询</a>
                        <a ng-click="exportData()" class="btn btn-primary btnleftmargin"><i class="icon-circle-arrow-down"></i>导出</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-reorder"></i></span>
            <h5>车辆编号生成列表</h5>
        </div>

        <div class="widget-content table-responsive" id="exportable">

            <table ng-table="tableParams" class="table table-striped table-bordered table-hover" id="Table1">
                <thead class="panel panel-default">
                    <tr class="panel-heading">
                        <th class="hidden-480">序号</th>
                        <th class="hidden-480">编号</th>
                        <th class="hidden-480">客户名称</th>
                        <th class="hidden-480">车辆编号</th>
                        <th class="hidden-480">生成时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat='item in $data'>
                        <td class="hidden-480">
                            <span>{{$index+1+preCnt}}</span>
                        </td>

                        <td class="hidden-480">
                            <span>{{item.ProduceID}}</span>
                        </td>
                        <td class="hidden-480">
                            <span>{{item.CustomerName}}</span>
                        </td>
                        <td class="hidden-480">
                            <span>{{item.BicycleNumber}}</span>
                        </td>
                        <td class="hidden-480">
                            <span>{{item.CreateTime|dateFormatFilter}}</span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


