<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-list-alt"></i></span>
            <h5>还车异常处理</h5>
        </div>
        <div class="widget-content">
            <form id="uploadForm" name='queryElectronicFenceForm' class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-3 tag-horizontal">
                        <div class="col-lg-4 form-inline">
                            <label class="text-right inline pull-label s-label-len" for="seq">手机号码：</label>
                        </div>
                        <div class="col-lg-8">
                            <input name='txtPhone' type="text" id="txtPhone" class="m-wrap form-control" placeholder="请输入手机号码" ng-model='txtPhone' />
                        </div>
                    </div>



                    <div class="col-lg-3 tag-horizontal cols-btn">
                        <div class="col-sm-12">
                            <a ng-click='onReturnCar()' class="btn grey"><i class="icon-search"></i>确定</a>

                            <!--<input type="file" id="fileUpload" name="file">
                            <input type="text" id="UserGuid" value="5abababa-6efd-4450-a0e6-e52a92b2608f" />
                            <button id="testAjax" type="button">上传</button>-->

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


