<!--<body style="background: #000">
    <section class="personal-info center">

        <div class="info-middle">
            <img class="avatar" src="{{qData.PhotoUrl}}" ng-click="onClickEdit(qData)" alt="">
            <img class="edit" src="images/edit.png" alt="">
            <div class="detabox">
                <div class="deta1 left">
                    <p>累计骑行</p>
                    <p>{{qData.Distance}}km</p>
                </div>

                <div class="deta1 left">
                    <p>节约碳排放量</p>
                    <p>{{qData.Carbon}}kg</p>
                </div>

                <div class="deta1 deta2 left">
                    <p>运动成就</p>
                    <p>{{qData.CalorieExpend}}cal</p>
                </div>
            </div>
        </div>
        <div class="infoform">
            <div class="toux">
                <span>我的钱包</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

            <div class="toux">
                <span>我的行程</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

            <div class="toux">
                <span>邀请好友</span>
                <img class="arrow" src="images/arrow-right.png" ng-click="onClickInvitation()">
            </div>

            <div class="toux">
                <span>用户指南</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>
        </div>

        <div class="center-btn">
            <button>退出登录</button>
        </div>
    </section>
</body>-->




<body style="background: #000">
    <section class="personal-info center">


        <div class="info-middle">
            <img class="avatar"  src="{{qData.PhotoUrl}}" ng-click="onClickEdit(qData)"  alt="">
            <img class="edit" src="images/edit.png" alt="">
            <div class="detabox">
                <div class="deta1 left">
                    <p>累计骑行</p>
                    <p>{{qData.Distance}}km</p>
                </div>

                <div class="deta1 left">
                    <p>节约碳排放量</p>
                    <p>{{qData.Carbon}}kg</p>
                </div>

                <div class="deta1 deta2 left">
                    <p>运动成就</p>
                    <p>{{qData.CalorieExpend}}cal</p>
                </div>
            </div>

        </div>
        <div class="infoform">
            <div class="toux">
                <span>我的钱包</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

            <div class="toux">
                <span>我的行程</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

            <div class="toux">
                <span>邀请好友</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

            <div class="toux">
                <span>用户指南</span>
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

        </div>

        <div class="center-btn">
            <button>退出登录</button>
        </div>

    </section>






</body>
