<!--<section class="personal-info">
    <div class="infoform">
        <div class="toux">
            <span>头像</span>
            <img class="avatar toux-img" src="{{qData.PhotoUrl}}" ng-click="onClickEdit(qData)">
            <img class="arrow" src="images/arrow-right.png" alt="">
            
        </div>

        <div class="toux">
            <span>昵称</span>
            <span class="txtright">{{qData.UserNickName}}</span>
        </div>

 
        <div class="toux">
            <span>实名认证</span>
            <span class="txtright">{{qData.StatusStr}}</span>
        </div>

        <div class="toux">
            <span>手机号</span>
            <span class="txtright">{{qData.Phone}}</span>
        </div>
    </div>
</section>-->
 

<body>
    <section class="personal-info">
        <div class="infoform">
            <div class="toux">
                <span>头像</span>
                <img class="avatar toux-img" src="{{qData.PhotoUrl}}" ng-click="onClickEdit(qData)">
                <img class="arrow" src="images/arrow-right.png" alt="">
            </div>

            <div class="toux">
                <span>昵称</span>
                <span class="txtright">{{qData.UserNickName}}</span>
            </div>

            <!--<div class="toux">
                <span>姓名</span>
                <span class="txtright">李阳</span>
            </div>-->

            <div class="toux">
                <span>实名认证</span>
                <span class="txtright">{{qData.StatusStr}}</span>
            </div>

            <div class="toux">
                <span>手机号</span>
                <span class="txtright">{{qData.Phone}}</span>
            </div>
        </div>

    </section>






</body>