<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MintBicycleConnectionString" connectionString="Data Source=112.64.131.222;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=IngPAL;Password=zU$3Bf&amp;(g5"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString1"
            connectionString="Data Source=192.168.2.50;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=IngPAL;Password=zU$3Bf&amp;(g5"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString2"
            connectionString="Data Source=TOMZHOU-PC;Initial Catalog=BicycleDB;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString"
            connectionString="Data Source=TOMZHOU-PC;Initial Catalog=BicycleDB;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString3"
            connectionString="Data Source=TOMZHOU-PC;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString4"
            connectionString="Data Source=120.27.153.236;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=Tampines;Password=qT$3Bf&amp;(g5"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString5"
            connectionString="Data Source=112.64.131.222;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=IngPAL;Password=zU$3Bf&amp;(g5"
            providerName="System.Data.SqlClient" />
        <add name="MintCyclingData.Properties.Settings.BicycleDBConnectionString6"
            connectionString="Data Source=112.64.131.222;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=IngPAL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>