@{
    ViewBag.Title = "Home Page";
}

<div>用户登录Id为：@ViewBag.UserId</div>

<div style="margin-top:500px;">
    <br style="margin-top:500px;" />
    <img src="/BarCode.gif" />
</div>
<script type="text/javascript">
    function Aaa() {   //父类
        this.name = [1, 2, 3];
        this.prototype.clone = function () {
            var f = function () { };
            f.prototype = this;
            return new f();
        }
    }

    Aaa.prototype.show = function () {
        alert(this.name);
    }
    alert(Aaa.show());
    var k = Aaa.clone();
    alert(k);
</script>