<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#ad"><i class="fa fa-fw fa-arrows-v"></i>广告类型管理<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="ad" class="collapse">
                <li>
                    <a href="#/ad/catalogadd">广告类型新增</a>
                </li>
                <li>
                    <a href="#/ad/catalogedit">广告类型查询</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#product"><i class="fa fa-fw fa-arrows-v"></i>广告产品管理<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="product" class="collapse">
                <li>
                    <a href="#/product/add">新增产品信息</a>
                </li>
                <li>
                    <a href="#/product/edit">产品信息管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#order"><i class="fa fa-fw fa-arrows-v"></i>订单管理<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="order" class="collapse">
                <li>
                    <a href="#/order/detail">全部订单</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#member"><i class="fa fa-fw fa-arrows-v"></i>会员管理<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="member" class="collapse">
                <li>
                    <a href="#/member/infor">会员信息管理</a>
                </li>
                <li>
                    <a href="#/member/audit">认证审核</a>
                </li>
                <li>
                    <a href="#/member/feedback ">意见反馈</a>
                </li>
                <li>
                    <a href="#/member/contracttemp">会员合同模板申请</a>
                </li>
                <li>
                    <a href="#/member/protocolrule">协议条款管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/message/query"><i class="fa fa-fw fa-arrows-v"></i>在线留言管理<i class="fa fa-fw fa-caret-down"></i></a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#adcomp"><i class="fa fa-fw fa-arrows-v"></i>广告商管理<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="adcomp" class="collapse">
                <li>
                    <a href="#/adcomp/query">广告商信息管理</a>
                </li>
                <li>
                    <a href="#/adcomp/add">广告商新增</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#news"><i class="fa fa-fw fa-arrows-v"></i>消息推送管理<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="news" class="collapse">
                <li>
                    <a href="#/news/add">新增广播</a>
                </li>
                <li>
                    <a href="#/news/pushmodify">广播推送管理</a>
                </li>
                <li>
                    <a href="#/news/query">短信自动推送管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#hpage"><i class="fa fa-fw fa-arrows-v"></i>首页设置<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="hpage" class="collapse">
                <li>
                    <a href="#/hpage/bannerset">首页banner设置</a>
                </li>
                <li>
                    <a href="#/hpage/qadspace">广告位设置</a>
                </li>
            </ul>
        </li>
    </ul>
</div>